.navbar-nav.ms-auto.hypertext a {
    color: #fff ;
}
.navbar-brand{
    color: #fff !important
}
.dropdown-menu{
    border:0;
    background: white;
}
.dropdown-menu li a{
    color: black !important;
} 
#navbarDropdown:after{
    display: none;
}
.title{
    margin-left: 50px;
}
.logo{
    height: 70px;
    width: 100px;
    margin-left: -25px;
}
